body {
  background-color: #c3cfe2;
}

// Opdracht 1
$textcolor: #393E46;

.testimonial {
  border-radius: 20px;
  box-shadow: 0 0 15px #111;
  font-family: sans-serif;
  font-weight: normal;
  height: 450px;
  position: relative;
  text-align: center;
  width: 350px;

  &__top {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    color: $textcolor;
    font-size: 16px;
    height: 65%;
    line-height: 1.7;
    padding: 30px;
    position: absolute;
    text-align: left;
  }

  &__img {
    border-color: #fff;
    border-radius: 100px;
    border-style: solid;
    border-width: 5px;
    bottom: 110px;
    left: 120px;
    position: absolute;
    width: 100px;
    z-index: 1;
  }

  &__bottom {
    background-color: #686de0;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    height: 35%;
    margin: 0;
    padding-top: 40px;
    position: absolute;
    width: 100%;

    &--p {
      color: $textcolor;
    }
  }
}

// Opdracht 2
$bradius: 10px;

.grid {
  grid-gap: 20px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;

  &__container {
    height: 100%;
    position: relative;
    width: 100%;

    &--background {
      align-items: center;
      background-color: $textcolor;
      border-radius: $bradius;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: 500ms;
      width: 100%;

      &:hover {
        opacity: 1;
      }
    }

    &--button {
      background-color: #111;
      border-radius: 10px;
      border-style: none;
      box-sizing: border-box;
      color: white;
      font-family: sans-serif;
      font-size: 18px;
      height: 30px;
      margin: 0;
      padding: 4px;
      position: relative;
      text-align: center;
      text-decoration: none;
      width: 100px;
    }

    &--img {
      border-radius: $bradius;
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  .grid {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

// Opdracht 3
@mixin after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 17px;
}
@mixin socials {
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin: 0;
  padding: 13px;
  position: relative;
  text-decoration: none;
  width: 300px;
}

.socials {
  margin: 0;
  text-align: center;

  & a {
    @include socials;
    left: -250px;
    transition: 500ms;

    &:hover {
      left: -15px;
    }
  }
}

.socials .blog {
  background-color: #e17b77;

  &::after {
    content: "\f5fc";
    @include after;
  }
}

.socials .twitter {
  background-color: #00aced;

  &::after {
    content: "\f099";
    @include after;
  }
}

.socials .linkedin {
  background-color: #007bb6;

  &::after {
    content: "\f0e1";
    @include after;
  }
}

.socials .facebook {
  background-color: #3b5998;

  &::after {
    content: "\f39e";
    @include after;
  }
}

.socials .github {
  background-color: #333;

  &::after {
    content: "\f09b";
    @include after;
  }
}
